<div>

    <input type="text" class="form-control" placeholder="Title..." [(ngModel)]="title" #titleinput>
    <input type="text" class="form-control" placeholder="Text..." [(ngModel)]="text" >

    <button class="btn" (click)="addPost()">Добавити пост</button>
    <button  class="btn"  (click)="focusTitle()"> Focus title</button>

    <input (input)="changPass()" type="text" class="form-password" placeholder="Password..." [(ngModel)]="text" #inputValue >
    

                                                <!--    Test Task -->

   <div  #inputResaul class="password"  >                     
        <div #firstResault class="password_iteam1" 
        [ngClass]="changePassResultClass(text,1)">1</div>
        <div #secontResault class="password_iteam2" 
        [ngClass]="changePassResultClass(text,2)">2</div>
        <div #thirtResault class="password_iteam3"
        [ngClass]="changePassResultClass(text,3)">3</div>
        <p class="info" #congratulation> </p>
    </div>
</div>
